<div id="contact" style="width:50%; align:center; text-align:center; margin-left: auto; margin-right: auto ;">
    <form action="/valider" method="post">
        <div class="container">
            <label>
                <b>
                    Username
                </b>
            </label>
            <input name="Username" placeholder="Enter Username" required="" type="text">
                <label>
                    <b>
                        Password
                    </b>
                </label>
                <input name="password" placeholder="Enter Password" required="" type="password">
                    <button type="submit">
                        Login
                    </button>
                    <input checked="checked" type="checkbox">
                        Remember me
                    </input>
                </input>
            </input>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button class="cancelbtn" type="button">
                Cancel
            </button>
            <span class="psw">
                Forgot
                <a href="#">
                    password?
                </a>
            </span>
        </div>
    </form>
</div>