extends layout

block title
    title Formulaire

block scripts
    script(src="js/index-js.html")

 block stylesheets
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')

block content
    include formulaire.html